@import "mixins/mixins.scss";

.commentary{
  &.component{
    min-height: auto;
    height: auto;
    padding:200px 30px;
    
    
    .content-container{
      @include transition();
      //width:calc(100% - 60px);
      //max-width: 220px;
      
      
      //height:800px;
      margin:auto;

      h3{
        @include transition();
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 90px;
        font-family: GLoock, serif;
        text-align: center;
      }

      
        h4{
          @include transition();
        
          font-size: 16px;
          font-family: GLoock, serif;
          letter-spacing: 2px;
          font-weight: 600;
          margin-top: 60px;
          margin-bottom: 30px;
        }

        
          p{
            @include transition();
            margin-bottom:30px;
            line-height: 20px;
            font-size: 13px;
            
          }
      
          
    }
  }
}


@include media-md{ //>768px
  .commentary{
    &.component{
      //min-height:120vh;
      //height: 120vh;
      
    padding:200px 50px;
      
      .content-container{
        width:500px;
        max-width: 500px;
        
        h3{
          font-size: 24px;
        }
  
          h4{
            font-size: 18px; 
          }
        
        
          p{
            text-align: justify;
            
          }
      
      }
    }
  }
}

@include media-xxl{ //>1400px

  .commentary{
    &.component{
      
    padding:200px;
      
      .content-container{  
        h3{
          font-size: 30px;
          font-weight: 600;
        }
   
          h4{
            font-size: 20px; 
          }
        
      }
    }
  }
}