@import "mixins/mixins.scss";

.contents{
  &.component{
   
    h3{
      @include transition();
      font-family: GLoock, serif;
      font-size: 24px;
      font-weight: 600; 
      word-spacing: 2px;
      letter-spacing: 1px;
      margin-bottom: 50px;
      text-align: center;
    }

    h4{
      @include transition();
      font-family: GLoock, serif;
      font-size: 16px;
      font-weight: 600; 
      word-spacing: 2px;
      letter-spacing: 2px;
      color:black;
      text-align: justify;
    }

    p{
      @include transition();
      font-size: 12px;
      text-align: justify;
      color:black;
      margin-bottom: 20px; 
    }
    
    .contents-section{
      width:calc(100% - 30px);
      max-width: 500px;
      margin: 200px auto;
      padding-bottom: 100px;
    }
    
    .chapter{
      display:flex;
      margin-bottom: 10px;
      align-items: center;
      overflow: hidden;
      position:relative;

      .text-section{
        @include transition(0.1);
        height:100px;
        width:100%;
        border-radius: 1000px 0 0 1000px;
        border: 2px solid rgba(30,30,30,1);
        padding: 0 15px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        .chapter-title{
          width:100%;
          font-size: 12px;
        }
  
        .chapter-description{
          width: 100%;
          margin: 5px 0 0;
          text-align: left;
          font-size: 11px;
        }
      }

      .line-section{
        @include transition(0);
        height:2px;
        width:10px;
        min-width: 10px;
        background: rgb(30,30,30);
        display:none;
      }

      .emblem-section{
        @include transition(0.3);
        height:100px;
        width:100px;
        min-width: 100px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        display:none;

        .navigation-text{
          @include transition(0.3);
          font-family: GLoock, serif;
          font-size: 12px;
          font-weight: 500; 
          word-spacing: 2px;
          letter-spacing: 2px;
          color: transparent;
          width:100%;
          margin: auto 0 ;
          color:white;
          text-align: left;
          display:none;
        }
        
        .emblem{
          @include transition(0.3);
          margin:23px;
          @include emblemColor(rgb(50,50,50)); 
        }
      }

      &:hover{
        .text-section{
          background:rgb(60,60,60);
            
          .chapter-title,.chapter-description{
            color:white;
          }
        }
      }

      &.right{
        flex-direction: row-reverse;

        .text-section{
          border-radius: 0 1000px 1000px 0;
          padding: 0 30px 0 15px;

          .chapter-title,.chapter-description{
            text-align: end;
          }
        }

        .emblem-section{
          justify-content: flex-end;
          flex-direction: row-reverse;

          .navigation-text{
            text-align: end;
          }
        }

        &:hover{  
          .emblem-section{
            border-radius: 0 1000px 1000px 0;
          }
        }
      }

      &.full{
        margin:0 0 10px 0;
      }
    }

    .contents-main{
      display: flex;
      flex-direction: column;
  
      .contents-list{
        width:100%;
        max-width: 100%;
      }
    }
  }
}

@include media-md{ //>768px
  .contents{
    &.component{

      .contents-section{
        padding-bottom: 200px;
      }
        
      .chapter{
        margin-bottom: 25px;

        .text-section{
          .chapter-title{
            font-size: 13px;
          }
        }

        .line-section{
          display:block;
        }

        .emblem-section{
          display: flex;
          border: 2px solid rgb(30,30,30);
        }

        &:hover{
          .text-section{
            display:none;
              
            .chapter-title,.chapter-description{
              display: none;
            }
          }

          .line-section{
            width:0;
            min-width: 0;
            background: none;
          }

          .emblem-section{
            background:rgb(60,60,60);
            width:100%;
            border-radius: 1000px 0 0 1000px;

            .navigation-text{
              display: block;
            }

            .emblem{
              @include emblemColor(rgb(255,255,255));
            }
          }
        }
      }    
    }
  }
}

@include media-xxl{ //>1400px
  .contents{
    &.component{
      
      .contents-section{
        max-width:1000px;
        margin: 300px auto;
      }
      
      .chapter{
        &.full{
          margin:0 110px 20px 0;
          
          .text-section{
            border-radius: 1000px;
          }

          &:hover{
            .emblem-section{
              border-radius: 1000px;
            }
          }

          &.right{            
            margin:0 0 20px 110px;
          }
        }
      }

      .contents-main{
        flex-direction: row;
        margin:0 -10px;

        .contents-list{
          margin:10px;
          width:50%;
          max-width: 50%;
        }
      }
    }
  }
}