@import "mixins/mixins.scss";

.digital-hearts{
  &.component{
    @include transition();
    min-height:2000px;
    height:180vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(199, 36, 30);
    
    .image-container{
      @include transition();
      height: 100%;
      width: 100%; 
    }

    .poem-container{
      @include transition();
      position: absolute;
      width:100%;
      height:100%;
      z-index: 10;
      background: rgba(129, 36, 30,0.7);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .grid{
        @include transition();
        width:270px;

        .poem-circle{
          display: inline-flex;
          vertical-align: top;
          margin: 20px;
          width: 230px;
          height:230px;
          padding: 20px;
          border-radius: 50%;
          align-items: center;
          overflow: hidden;

          .graphics-section{
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .emblem{
              @include emblemColor(rgb(255, 67, 92));
            }
          }
                
          .image-container{
            height: 120%;
            width: 120%; 
            margin:-10%;

            .image-overlay{
              background: rgba(0,0,0,0.2);
            }
          }

          .text-section{
            text-align: center;
            width: 100%;

            p{
              font-size: 11px;
              line-height: 20px;
              letter-spacing: 1px;
              font-weight: 600;
            }
          }

          .title-section{
            border: 2px solid rgb(255, 67, 92);
            height:60px;
            width: 100%;
            margin:0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3{
              font-size: 13px;
              margin: 10px;
              font-weight: 600;
            }

            .secondary{
              border-top: 2px solid rgb(255, 67, 92);
              height:30px;
              width: 100%;
              display: flex;
              align-items: center;
              padding: 0 5px;

              .dot{
                min-width:2px;
                height:2px;
                margin-right:5px;
                background: rgb(255, 67, 92);
              }
              
              .line{
                width:100%;
                height:2px;
                background: rgb(255, 67, 92);
              }
            }
          }

          &.white{
            background: rgb(225,225,225);
            color:black;
          }

          &.black{ 
            background: rgb(30,30,30);
            color:white;
          }

          &.blue{
            background: rgb(9, 53, 173);
            color: rgb(255, 98, 119);
          }
        }
      }
    }
  }
}

@include media-md{
  .digital-hearts{
    &.component{
   
      .poem-container{
        position: relative;
        z-index: auto;
        background: none;
        min-width: 768px;

        .grid{  
          width:540px;
        }
      }
    }
  }
}