@import "mixins/mixins.scss";

.half-steel{
  &.component{
    @include transition();
    position: relative;
    width:100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,30,30,0.5) 100%);

    .id-marker{
      position: absolute;
      top:150px;
    }

    .main-image{
      @include transition();
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .graphics-section{
      @include transition();
      padding: 5px ;
      background: linear-gradient(0deg, rgba(150,150,150,0.5) 0%, rgba(255,255,255,0.5) 100%); 
      border-radius: 0 100px 100px 100px;
      display:flex;
      width:100%;
      align-items: center;
      margin-top: 5px;

      &.sm{
        width:90px;
        height:40px;
        border-radius: 15px 90% 10px 0;
        background:  rgba(255,255,255,0.3);
        margin-top: auto;
        margin-right: auto;

        .inner-block{
          @include transition();
          border-radius: 15px 180% 10px 0;
        }
      }

      .inner-block{
        @include transition();
        border-radius: 0 100px 100px 100px;
        background: rgba(255,255,255,0.3);
        padding: 5px 20px 5px 5px;
        display:flex;
        width:100%;
        height:100%;
        align-items: center;
      }

      .left{
        @include transition();
        width:100%;
      }

      .gradient{
        @include transition();
        background: linear-gradient(90deg, rgb(0, 0, 0) 10%,rgb(255, 90, 131) 30%,rgb(8, 38, 209) 45%,rgb(37, 193, 255) 60%, rgb(196, 255, 247) 80%);
        width:100%;
        height:5px;
        margin-bottom:7px;
        border-radius: 100px;
      }

      .dot-section{
        @include transition();
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding:0;
        height:7px;

        .line{
          @include transition();
          width:100%;
          height:5px;
          background: linear-gradient(90deg, rgb(0, 0, 0) 0%,rgb(228, 196, 57) 40%, rgb(255, 251, 239) 90%);
          margin-left: 0;
          border-radius: 100px;
        }

        .dot{
          @include transition();
          width:7px;
          min-width: 7px;
          height:7px;
          background: black;
          margin-left: 7px;
          border-radius: 50%;
        }
      }

      .emblem{
        margin-right:15px;
        @include emblemColor(rgb(0,0,0));
      }
    }

    .article-container{
      @include transition();
      display: flex;
      flex-direction: column;
      padding: 0 10px 0;
      align-items: center;
      justify-content: center;
    }

    .image-section{
      @include transition();
      margin: 5vw auto 0;
    }

    .image-container{
      @include transition();
      padding: 5vw;
      border: 10px solid white;
      width:90vw;
      min-width:90vw;
      height:90vw;
      display: flex;
    }
    
    .image{
      @include transition();

      .image-overlay{
        @include transition();
        background: rgba(4, 0, 255, 0.2);
        padding:10px;
        flex-direction: column;
      }
    }

    .title-section{
      @include transition();
      width:100%;
      display:flex;
      padding-left:20px;
      
      .title{
        @include transition();
        font-size:30px;
        letter-spacing: 30px;
        line-height: 100px;
        word-spacing: 5px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        color:white;
        margin:100px auto 400px;
      }
    }

    .story-container{
      @include transition();
      width: 90vw;
      padding-top:300px;
      border: 10px solid rgb(235,235,235);
      border-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .p-group{
        @include transition();
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p{
          @include transition();
          width:100%;
          font-size: 12px;
          line-height: 20px;
          padding: 40px;
          text-align: right;
          color: white;
        
          &.last{
            color: black;
            background:rgb(235,235,235);
          }
        }

        h4{
          @include transition();
          width:100%;
          font-size: 30px;
          line-height: 20px;
          padding: 50px 100px 50px;
          text-align: right;
          color: white;
        }
        
        &.left{
          p,h4{
            text-align: left;
          }
        }
      }
    }
  }
}
  
@include media-md{
  .half-steel{
    &.component{
        
      .id-marker{
        top:250px;
      }

      .image-section{    
        margin: 100px auto 0;
      }

      .image-container{
        padding: 50px;
        width:700px;
        min-width:700px;
        height:700px;
      }
      
      .dot-section{
        height:550px;
      }

      .title-section{
        .title{
          margin: 100px auto 500px;
          padding-left:30px;
          font-size:50px;
          letter-spacing: 40px;
        }
      }
  
      .story-container{
        min-width: 700px;
        width: 700px;
        padding-top:300px;
        flex-direction: row;
      }
    }
  }
}

@include media-xl{
  .half-steel{
    &.component{
    
      .id-marker{
        top:350px;
      }

      .article-container{
        flex-direction: row;
      }
            
      .image-section{    
        margin: auto 0 -330px 20px;
      }

      .image-container{
        padding: 20px;
        width:500px;
        min-width:500px;
        height:500px;
      }
      
      .dot-section{
        height:430px;
      }

      .title-section{
        padding:0;

        .title{
          position: relative;
          margin: 800px auto 1000px;
          padding-left: 40px;
          font-size:80px;
          letter-spacing: 60px;
        }
      }

      .story-container{
        min-width: 600px;
        width: 600px;
        padding-top:500px;
      }
    }
  }
}