@import "mixins/mixins.scss";

.mayonnaise-rant{
  &.component{
    min-height:100vh;
    height:160vh;
    width:100%;
    display: flex;
    padding:30vh 20%;

    background: rgb(238, 212, 182);
    .image-container{
      @include transition();
      overflow: hidden;
      height: 100%;
      min-width: 700px;
      position: relative;
      

      img{
        background: rgb(30,30,30);
        position: absolute;
        height: 102%;
        width: 102%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
      
      .image-overlay{
        @include transition();
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: rgba(255,255,255,0);
      }
    }   
      
    .dot-section{
        
      margin-bottom: 50px;
      
      
      .dot-row{
        margin-bottom: 10px;
        
        display: flex;

        .dot{
          width: 5px;
          height:5px;
          
          margin-right: 10px;

          background: rgb(30,30,30);
        
          

        }

        
        .line{
          width: 80px;
          height:5px;
          
          margin-right: 10px;

          background: rgb(30,30,30);
        
          

        }
      }

    }
    .article-container{
      width: 100%;
      background: rgb(238, 140, 116);
      display: flex;
      flex-direction: column;
        


        .story-section{
          padding:100px 50px 200px;
        }
      
        h3{
          font-family: 'Koulen', cursive;
          font-weight: 400;
          font-size: 20px;   
          line-height: 30px; 
          letter-spacing: 5px;
          text-transform: uppercase;
          margin-bottom: 50px;

        }
    
        p{
          font-size: 11px;
          font-weight: 500;
          line-height: 16px;
          text-align: justify;
          margin-bottom: 20px;
        }



      .bottom-section{

        position: relative;
        height:100%;

        background: rgb(238, 212, 182);
        .image-container-outer{
        
          position: absolute;
          top:-100px;
          right:100px;
          
        
          .image-container{
            border: 20px solid rgb(252, 103, 57);
            height: 360px;
            min-width: 270px;
            width: 270px;
            
          }   
        
          .text-section{
            background: rgb(235,235,235);
            padding:15px;
            display: flex;
            align-items: center;

            p{
              color: black;
              font-size: 12px;
              font-weight: 600;
              margin:0;
            }
          }


        }   
    
      }

        

    }

      
      
  }
}