@import "mixins/mixins.scss";

.search-for-self{
  &.component{   
    @include transition(); 
    position: relative;
    background: rgb(235,235,235);
    width:100%;
    min-height:150vh;
    height: 2400px;

    .id-marker{
      position: absolute;
      top:50vh;
    }

    .article-container{
      @include transition();
      width:90vw;
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      margin: auto;     
      overflow: hidden;

      .image-section{
        @include transition();
        width:100%;
        min-height: 90vw; 
        height:90vw;
        display: flex;
        flex-direction: column;
        position: relative;
            
        .image-container{
          @include transition();
          height: 50%;
          min-height: 50%; 
          width:100%;
          
          .image{
            .image-overlay{
              background: rgba(255,255,255,0.3);
            }
          }
        }
      }
      
      .story-section{
        @include transition();
        width:100%;
        display: flex;
        flex-direction: column;
      }
    }

    .title-section{
      @include transition();
      position: absolute;
      width:100%;
      height:100%;
      z-index: 10;
      top:0;
      padding:20px;
      display:flex;
      flex-direction: column;
      justify-content: center;

      .title{
        @include transition();
        margin-top:0px;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0px;
        font-weight: 900;
        word-spacing: 10px;
        text-transform: uppercase;
        color: rgba(25, 59, 255, 0.877);
        font-family: GLoock, serif;
        text-align: left;
      }
    }

    .graphics-section{
      @include transition();
      position: absolute;
      width:50px;
      height:calc(100% - 40px);
      display: flex;
      flex-direction: column;
      top:20px;
      right:20px;

      .emblem{
        @include emblemColor(rgb(0,30,150));

        &:first-child{
          margin-bottom: auto;
        } 
      }
    }

    .image{      
      .image-overlay{
        background: rgba(10, 20, 60, 0.5);
      }
    }
    
    .story-container{
      @include transition();
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 35px;
      background: blue;

      p{
        @include transition();
        font-family: "Lucida Console", "Courier New", monospace;
        font-size: 11px;
        line-height: 20px;
        margin: 15px;
        text-align: justify;
        color:white;
      }
    }

    .dot-section{
      @include transition();
      width:100%;
      height:200px;
      padding:0 40px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: blue;

      .dot-row{
        width:100%;
        display:flex;
      }

      .dot,.line{
        @include transition();
        min-width:8px;
        width:8px;
        height:8px;
        background: white;
        margin:12px; 
      }

      .line{
        @include transition();
        width:160px;
      }
    }
  }
}

@include media-md{
  .search-for-self{
    &.component{
      display:flex;
    
      .id-marker{
        top:50vh;
      }
  
      .article-container{
        height:1400px;
        width:600px;
        background: rgb(0, 0, 255);
      
        .image-section{
          border: 25px solid blue;
          width:600px;
          height:600px;
          min-height:600px;
        }
        
        .story-section{
          height:800px;
        }
      }
  
      .title-section{
        padding:10px;
  
        .title{
          font-size: 130px;
          line-height: 130px;
          letter-spacing: 2px;
        }
      }
      
      .story-container{
        height:100%;
        justify-content: flex-start;
      }
    }
  }
}

@include media-xl{
  .search-for-self{
    &.component{
      min-height:200vh;
      height: 200vh;
      
      .id-marker{
        top:50vh;
      }
  
      .article-container{
        height:800px;
        width:1200px;
        flex-direction: row;
        justify-content: center;

        .image-section{
          width:800px;
          height:100%;
          display: flex;
          flex-direction: column;
          position: relative;
          border: none;
              
          .image-container{
            height: 400px;
            min-height: 400px; 
            width:800px;
          }
        }
        
        .story-section{
          width:400px;
          height:100%;
        }
      }
  
      .title-section{
        padding:50px;
  
        .title{
          font-size: 180px;
          line-height: 170px;
          letter-spacing: 2px;
        }
      }
    }
  }
}