@import "mixins/mixins.scss";

.text-page{
  &.component{
    
    padding:150px 0 0;
    
    .graphics-section{
      background: rgb(30,30,30);
      padding:50px 70px;
      margin-bottom:50px;
      .emblem{
        margin:10px;
        display: inline-flex;

        .center{
          .circle,.square{
            border-color: rgb(200,200,200);
          }
          .line,.dot{
            background: rgb(200,200,200);
          }
        }
      }
    }


    .section{
      @include transition();
      width:calc(100% - 60px);
      max-width: 500px;
      margin:0 auto 150px;



      h3{
        @include transition();
        font-weight: 600; 
        font-size: 18px;
        word-spacing: 2px;
        letter-spacing: 1px;
        margin-bottom: 40px;
        font-family: GLoock, serif;
        text-align: center;
      }


      h4{
        @include transition();
        font-weight: 600; 
        font-size: 15px;
        word-spacing: 2px;
        letter-spacing: 1px;
        margin-bottom: 8px;
        padding-bottom: 10px;
        font-family: GLoock, serif;
        text-align: left;
        border-bottom: 1px solid black;
      }


      p{
        @include transition();
        font-size: 12px;
        margin-bottom: 40px;
        text-align: justify;

        &.description{

          text-align: right;
        }
      }

      .number{
        margin-right: 10px;
      }

      .chapter{
        margin-bottom: 40px;
      }

    }
  }
}


@include media-md{ //>768px
  .text-page{
    &.component{
      padding:300px 0 0;

      .section{
        width:500px;
        margin:0 auto 300px;
        
        h3{
          font-size: 22px;
          margin-bottom: 80px;
        }
     

        h4{
          font-size: 16px; 
          margin-bottom: 20px;
          padding-bottom: 20px;
        }
        
        p{
          font-size: 13px; 
          margin-bottom: 50px;
        }

        
        .chapter{
          margin-bottom: 80px;
        }
      }
    }
  }
}

@include media-xxl{ //>1400px
  .text-page{
    &.component{
      padding:300px 0 0;
      
      .section{  
        margin:0 auto 400px;
        
        h3{
          font-size: 24px;
          margin-bottom: 100px;
        }
     

        h4{
          font-size: 18px;
        }
        
        p{
          font-size: 13px; 
          
        }
      }
    }
  }
}