@import "mixins/mixins.scss";

.text-page{
  &.component{
   
    h3{
      @include transition();
      font-family: GLoock, serif;
      font-size: 24px;
      font-weight: 600; 
      word-spacing: 2px;
      letter-spacing: 1px;
      margin-bottom: 50px;
      text-align: center;
    }

    h4{
      @include transition();
      font-family: GLoock, serif;
      font-size: 16px;
      font-weight: 600; 
      word-spacing: 2px;
      letter-spacing: 2px;
      color:black;
      text-align: justify;
    }

    p{
      @include transition();
      font-size: 12px;
      text-align: justify;
      color:black;
      margin-bottom: 20px; 
    }
    
    .intro-section{
      @include transition();
      width:calc(100% - 60px);
      max-width: 500px;
      margin:100px auto;
    }
    
    .commentary-section{
      width:calc(100% - 60px);
      max-width: 500px;
      margin: 100px auto;
      padding-bottom: 100px;

      .section-title{
        margin: 0 0 8px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
      }

      .commentary-subsection{
        margin-bottom:50px;
      }
    }
  }
}

@include media-md{ //>768px
  .text-page{
    &.component{
      
      .intro-section{
        margin:100px auto 200px;
      }
      
      .commentary-section{
        margin: 200px auto;
        padding-bottom: 200px;
      }   
    }
  }
}

@include media-xxl{ //>1400px
  .text-page{
    &.component{
      
      .intro-section{
        margin:100px auto 300px;
      }

      .commentary-section{
        max-width:1000px;
        margin: 300px auto;

        .commentary-contents{
          display:flex;
          margin: 0 -10px;

          .commentary-contents-half{
            margin:10px;
            width:50%;
            max-width: 50%;            
          }
        }
      }
    }
  }
}